/*--Обнуление-------------------------------- */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
/* html {
	scroll-behavior: smooth;
} */
body {
	font-family: 'Montserrat', sans-serif;
	min-width: 320px;
	font-size: 16px;
	font-weight: 400;
	color: #333;
}
/* -------------------------------------------------------- */

.content {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 10px;
}
.title {
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	position: relative;
	margin-bottom: 70px;
}

/* ---HEADER----------------------------------------------------- */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 0 100px;
	background: #000;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transition: 1s;
	z-index: 4;
}
header.sticky {
	height: 60px;
}
.header__banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 1s;
	opacity: 0.5;
	filter: blur(9px);
}
header.sticky .header__banner {
	opacity: 0.1;
}
.header__logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 15vw;
	color: #fff;
	font-weight: 600;
	transition: 1s;
	text-decoration: none;
	z-index: 1;
}
header.sticky .header__logo {
	position: absolute;
	font-size: 2em;
	left: 100px;
	transform: translate(0, -50%);
}
.header__img{
    position: absolute;
    top: 63%;
    left: 10%;
	height: 25%;
	width: 40%;
	background-image: url(../img/logo1.png);
	background-repeat: no-repeat;
	background-size: contain;
}
header.sticky .header__img{
	opacity: 0;
	transition: 1s;
}
.header__nav {
	position: fixed;
	height: 60px;
	top: 0;
	display: flex;
	align-items: center;
	z-index: 1;
}
.header__nav-items {
	position: relative;
	display: flex;
	transition: 0.25s;
	transform: translateX(100px);
}
header.sticky .header__nav-items {
	transform: translateX(0);
	opacity: 1;
	transition-delay: 0.75s;
	opacity: 1;
	visibility: visible;
}
.header__nav-items li a {
	color: #fff;
	display: inline-block;
	padding: 10px 15px;
	font-size: 1.2em;
	text-decoration: none;
}

.header__nav-items li a:hover {
	color: #ff275f;
}

/* ---CONTENT----------------------------------------------------- */

section:first-of-type {
	padding-top: 50vh;
}
section:nth-of-type(even){
	background-color: #f0e1d7;
	/* background-image: url(../img/bg1.png); */
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset 0px 0px 18px rgb(102 102 102 / 60%);
}
section:nth-of-type(odd){
	background-color: #fff;
	/* background-image: url(../img/bg1.jpg); */
	background-repeat: no-repeat;
	background-size: cover;
}


/* .about__logo {
	height: 200px;
	max-width: 300px;
	margin: 0 auto;
	background-image: url(../img/logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
} */
section:not(:first-of-type) {
	padding: 100px 0;
}
.about {
	padding: 100px 0;
}
.about__title{
	font-size: 50px;
	font-weight: 600;
}

.about p {
	text-align: justify;
	font-size: 18px;
	font-weight: 400;
	line-height: 23px;
	margin: 10px 0;
}

/* ---МЕНЮ----------------------------------------------------- */
.content.slider{
	max-width: 100%;
	padding-left: 7%;
}
.menu__items {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 25px;
}
.menu__item {
	margin-bottom: -5px;
	min-width: 270px;
	height: 400px;
	position: relative;
	perspective: 5000px;
}

.front,
.back {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	transition: 1s;
	backface-visibility: hidden;
	font-size: 14px;
	line-height: 35px;
}
.front {
	font-family: lobster;
	font-weight: 400;
	font-size: 35px;
	text-align: center;
	text-shadow: 0 2px 2px #212121;
	color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
}
.back {
	background-size: cover;
	box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.616);
	transform: rotateY(180deg);
	padding: 10px;
	background-color: #fff;
}
.back h1 {
	font-family: lobster;
	font-weight: 400;
	font-size: 35px;
	text-align: center;
	color: #333;
	margin-bottom: 5px;
}
.back p {
	line-height: 14px;
}
.back__text-small {
	font-size: 10px;
}

.back__btn {
	position: absolute;
	bottom: 5px;
	left: 20px;
	border: none;
	cursor: pointer;
	background-color: #333;
	color: #fff;
	padding: 10px 80px;
	margin-top: 5px;
}
.back__overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	z-index: 10;
}
.back__modal {
	background-color: #fff;
	max-width: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}
.back__modal img {
	width: 100%;
	max-height: 100vh;
	object-fit: contain;
}
.back__overlay--visible {
	display: flex;
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}
.back__modal--visible {
	display: flex;
}

.menu__item:hover .front {
	transform: rotateY(180deg);
}
.menu__item:hover .back {
	transform: rotateY(360deg);
}
.menu__pizza {
	background-image: url(../img/pizza.jpg);
}
.menu__forbeer {
	background-image: url(../img/m-forbeer.jpg);
}
.menu__salat {
	background-image: url(../img/m-salat.jpg);
}
.menu__meat {
	background-image: url(../img/m-meat.jpg);
}
.menu__pat {
	background-image: url(../img/m-pat.jpg);
}
.menu__mang {
	background-image: url(../img/m-mang.jpg);
}
.menu__fish {
	background-image: url(../img/m-fish.jpg);
}
.menu__garn {
	background-image: url(../img/m-garn.jpg);
}
.menu__first {
	background-image: url(../img/m-first.jpg);
}
.menu__breakf {
	background-image: url(../img/m-breakf.jpg);
}
.menu__cold {
	background-image: url(../img/m-cold.jpg);
}
.menu__hot {
	background-image: url(../img/m-hot.jpg);
}
.menu__cake {
	background-image: url(../img/m-cake.jpg);
}
.menu__dough {
	background-image: url(../img/m-dough.jpg);
}
.menu__cheb {
	background-image: url(../img/m-cheb.jpg);
}
.menu__pasta {
	background-image: url(../img/m-pasta.jpg);
}
.menu__fast {
	background-image: url(../img/m-fast.jpg);
}

/* ---ГАЛЕРЕЯ----------------------------------------------------- */

section.gallery {
	position: relative;
}
.gallery-list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	font-size: 0;
}
.gallery-item {
	display: block;
	flex: 25%;
	overflow: hidden;
	position: relative;
	max-height: 220px;
}
.gallery-item-hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	opacity: 0;
	transition: opacity 0.5s ease;
	z-index: 2;
}
.gallery-item:hover .gallery-item-hover {
	opacity: 1;
}
.gallery-item:hover img {
	transform: scale(1.3);
}
.gallery-item img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease;
}
.mfp-zoom-out-cur {
	max-width: 100%;
}

/* ---КАРТА----------------------------------------------------- */

.contacts__items {
	display: flex;
	justify-content: space-between;
}
.contacts__item {
	width: 40%;
	margin-bottom: 50px !important;
}
.contacts__item.map {
	width: 60%;
	height: 400px;
}
.contacts__link {
	display: block;
	position: relative;
	padding-left: 34px;
	color: #333;
	margin-bottom: 30px;
	font-size: 18px;
}
.contacts__link img {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	height: 22px;
}

.social__links-title {
	font-size: 24px;
	line-height: 33px;
	font-weight: normal;
	margin-bottom: 28px;
}

.social__links--wrapper {
	display: flex;
}

.social__link {
	margin-right: 24px;
}
.social__link img {
	height: 40px;
}

/* ---REVIEW----------------------------------------------------- */

.review__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.review__item {
	min-width: 200px;
	margin-bottom: 10px;
}
.review__item-img {
	object-fit: cover;
}
.review__item-text {
	margin: 20px 0;
}
.review__item-link {
	display: inline-block;
	padding: 10px 30px;
}
/* ---FOOTER----------------------------------------------------- */

.footer {
	background-color: #b99170;
}
.form {
	max-width: 500px;
	margin: 0 auto;
	color: #fff;
	padding: 30px 0;
}
.form * {
	outline: none;
}
.form__body {
	position: relative;
}
.form__body::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(51, 51, 51, 0.9) url("../img/loading.gif") center / 50px no-repeat;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
}
.form__body._sending::after {
	opacity: 1;
	visibility: visible;
}

.form__tittle {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
}
.form__item {
}
.form__label {
	display: block;
	margin-bottom: 5px;
}
.form__input {
	height: 30px;
	padding: 0 20px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
}
.form__input:focus{
	box-shadow: 0 0 5px #fff;
}
.form__input._error {
	box-shadow: 0 0 5px red;
}
textarea.form__input {
	min-height: 120px;
	resize: vertical;
	padding: 20px;
}
.form__button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(87, 211, 114, 0.726);
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.74);
	padding: 8px 15px;
	transition: 0.5s ease 0s;
}
.form__button:hover{
	background-color: rgb(83, 136, 83);
}




/* ---MEDIA----------------------------------------------------- */


@media (max-width: 991px) {
	.lock-scroll {
		overflow: hidden;
	}
	section,
	header {
		padding: 40px;
	}
	.header__banner {
		width: 100%;
	}
	header.sticky .header__logo {
		left: 40px;
	}
	.header__nav-items {
		z-index: 4;
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	header.sticky nav ul {
		opacity: 1;
		visibility: visible;
	}
	nav.active ul {
		position: fixed;
		top: 80px;
		left: 0;
		width: 100%;
		height: calc(100% - 80px);
		background: #000;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		z-index: 1;
	}
	.header__nav-items li a {
		font-size: 1.5em;
		line-height: 2em;
		padding: 5px 15px;
	}
	header .toggle {
		position: fixed;
		top: 15px;
		right: 40px;
		width: 50px;
		height: 50px;
		cursor: pointer;
		background: #fff url(../img/menu.png);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%;
	}
	header .toggle.active {
		background: #fff url(../img/close.png);
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: center;
	}
	.header__img{
		display: none;
	}
	.gallery-item {
		flex: 50%;
	}
	.contacts__items {
		flex-wrap: wrap;
	}
	.contacts__item {
		width: 100%;
		margin-bottom: 50px !important;
	}
	.contacts__item.map {
		width: 100%;
		height: 300px;
	}
}
